@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #022c43;
}

h1, h2 {
  font-family: 'Indie Flower', cursive;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0}

.hit button, .ais-SearchBox button {
  background: linear-gradient(45deg, rgb(200,200,200) 30%, rgb(180,180,180) 70%);
  font-size: 1em;
  padding: 16px 16px;
  margin: 8px auto;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  color: white;
  }

footer {
  display: none;
  color: rgba(255, 0, 0, 0.4);
  position: sticky;
  bottom: 8px;
  right: 8px;
}
footer a {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.4);
}

.forecast-box {
  display: contents;
}

.box-row {
  display: inline-grid;
  border: 1px solid rgba(200,200,200,0.2);
}
.box-row > span {
  padding: 8px
}

.ais-SearchBox-input {
  height: 3.5rem;
  min-width: 100px;
  padding: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #ffa1ac;
}

.ais-SearchBox-input:focus {
  border: 1px solid #ffa1ac;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
